#contact{
    textarea,input{
        &:focus{
            border: 0 !important;
            outline: none !important;
        }
    }
}

.error{
    color: red;
    padding: 5px 10px;
    margin: 0 8px;
    border-left: 3px solid red;
    width: 50%;
    border-radius: 0 20px 20px 0;
    background-color: #fff;
}
.fill{
    filter: invert(100%);
}
.text-shadow{
    text-shadow: 3px 1px #558abb;
}
.contact-form{
    padding: 100px 0;
    background-color: #00A8CD;
}

@media only screen and (max-width: 992px) {
    .contact-form{
        padding: 100px 50px;
    }
}