#contact{
    textarea,input{
        &:focus{
            border: 0 !important;
            outline: none !important;
        }
    }
}
.text-shadow{
    text-shadow: 3px 1px #558abb;
}
.contact-form{
    padding: 100px 50px;
    background-color: rgba(66, 194, 233, 0.678);
}
#contact ul li::marker{
    content: '';
}