.contact-btn{
    background-color:#33B9D4 ;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
}
.z2{
    z-index: 1;
}
#canvas{
    z-index: -1;
}
#hero{
    margin-top: 70px;
    padding: 0 0 100px;
    position: relative;
}
#hero::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 100%;
    clip-path: polygon(0 50%, 0% 100%, 100% 100%);
    background-color: #00A8CD;
}
#hero::before{
    
    content: '';
    position: absolute;
    bottom: 0;
    width: 60%;
    height: 100%;
    clip-path: polygon(0 40%, 0% 100%, 100% 100%);
    background-color: rgba(0, 168, 205,0.6);

}
#hero .bg-gray-opacity{
    position: relative;
    clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
    padding: 8rem 1.5rem 11rem;

}
#hero .bg-gray-opacity::before{
content: '';
position: absolute;
top:0;
right: 20px;
/* clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%); */
clip-path: polygon(0% 0%, 100% 0, 100% 65%, 45% 83%, 0% 100%);
background-color: #00A8CD;
width: 10%;
height: 20%;
}
#hero h3{
    color: #33B9D4;
}