
#projects{
    padding: 100px 0;
    .btn.btn-secondary{
        border: 1px solid #fff;
        &.active,
        &:hover{
            background-color: #1BB1D4;
        }
    }
    .svg-inline--fa{
        height: 120px;
    }
}
.box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    position: relative;
    background-color: #fff;
    
}

// .project-item:hover .overlay,
.project-item:hover .desc {
    
     transform: unset;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
.project-item:hover .project-img{
    // visibility: hidden;
    height: 0;
    padding-bottom: 0;
    .svg-inline--fa{
        height: 0;
        clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
    }
}
.project-item:hover{
    box-shadow: 0px 1px 13px #00A8CD;
    .project-name{
        z-index: 1;
        position: relative;
    }
        
}

.project-item:hover .desc {
  position: relative;
  font-size: 15px;
  line-height: 24px;
}
.project-item{
    width: 20%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 11px #dbdedf;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    a.repo-btn .svg-inline--fa{
        height: 15px !important;
    }
    .desc{
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 0;
        left: 0;
        font-size: 16px;
        padding: 0 1.5rem 1rem;
        transform: translate(0, 100%);
        transition: 0.3s ease;
        // background-color: #fff;
        p{
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3; 
            white-space: pre-wrap;
        }
        
    }
}
.text-container{
    padding: 15px 20px ;
}
.project-img{
    display: block;
    text-align: center;
    padding: 15px;
    color: #00A8CD;
    .svg-inline--fa{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    transition: 0.3s ease;
    }
}
.project-img i{
    font-size: 100px;
    color: #fff;
}
.project-name{
    text-align: center;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #33B9D4;
}

@media only screen and (max-width: 992px) {
    .project-item{
        width: calc(50% - 10px);
    }
}
@media only screen and (max-width: 762px) {
    .project-item{
        width: calc(100% - 10px);
    }
}