/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00A8CD; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
#projects{
    padding: 100px 0;
    .btn.btn-secondary{
        border: 1px solid #fff;
        &.active,
        &:hover{
            background-color: #1BB1D4;
        }
    }
    .svg-inline--fa{
        height: 50px;
    }
}
.box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
}
.project-item{
    width: 45%;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 11px #dbdedf;
    border-radius: 10px;
}
.text-container{
    padding: 15px 20px ;
}
.project-item .text-container p{
    height: 80px;
    overflow: auto;
}
.project-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: #00A8CD;
}
.project-img i{
    font-size: 100px;
    color: #fff;
}
.project-name{
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #33B9D4;
}