#tech-stack{
  padding: 100px 0 0;
}
#tech{
  padding: 100px 0 0;
  .image-container{
    position: relative;
    .image-profile{
      border-radius: 50%;
    }
    &::before,&::after{
      content: '';
      position: absolute;
      height: 40px;
      width: 40px;
      background-color: #1BB1D4;
    }
    &::before{
      top: 0;
      left: 0;
    }
    &::after{
      bottom: 0;
      right: 0;
    }
  }
    .svg-inline--fa{
        height: 80px;
        margin-bottom: 0.5rem;
    }
}
.elipsis{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; 
  white-space: pre-wrap;
}
.tech-slider{
  .slider-item{
    color:#6c757d;
  }
}
.tech-slider .slick-list, .tech-slider .slick-track{
height: 100%;
}
.item{
    padding: 30px 20px;
    height: 100%;
}
.item i{
    font-size: 70px;
    margin-bottom: 2rem;
}


@media only screen and (max-width: 992px) {
  #tech{
    .svg-inline--fa{
      margin-bottom: 0;
      height: 40px;
    }
    .item{
      padding: 20px !important;
    }
  }
}