.bg-0 {
  background-color: #00A8CD;
}
.bg-1 {
  background-color: #1BB1D4;
}
.bg-2 {
  background-color: #33B9D4;
}
.bg-3{
  background-color: #40c6e1;
}
#tech{
  .description-text{
  }
    .svg-inline--fa{
        height: 80px;
        margin-bottom: 1rem;
    }
}
.elipsis{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; 
  white-space: pre-wrap;
}
.tech-slider{
    height: 100%;
    .slick-slider,.slider-item , .slick-slide > div{
        height: 100%;
    }
}
.tech-slider .slick-list, .tech-slider .slick-track{
height: 100%;
}
.item{
    padding: 30px 20px;
    height: 100%;
}
.item i{
    font-size: 70px;
    margin-bottom: 2rem;
}


@media only screen and (max-width: 992px) {
  #tech{
    .svg-inline--fa{
      margin-bottom: 0;
      height: 40px;
    }
    .item{
      padding: 20px !important;
    }
  }
}