/* import fonts */
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "Sansation";
  src: url(/fonts/Sansation_Bold.ttf);
}
@font-face {
  font-family: "Zeyada";
  src: url(/fonts/Zeyada-Regular.ttf);
}

:root {
  --primary-color: #190039;
  --purple: #a15aff;
  --white: #fff;
}

/* hero */
.top-mobile {
  background-color: var(--purple);
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  top: 0;
  z-index: 2;
}
.top-mobile ul li {
  list-style: none;
}
.top-mobile ul li img {
  max-width: 100%;
  width: 27px;
  height: 27px;
}
.language {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.language img {
  max-width: 100%;
  width: 20px;
  height: 20px;
}
/* Hero */

p {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* about */

.btn-purple {
  text-decoration: none;
  padding: 13px 28px;
  display: inline-flex;
  color: #fff;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid #fff;
  background: #a15aff;
}
.button-container::before {
  position: absolute;
  content: "";
  width: 83px;
  height: 42px;
  right: 6%;
  background-image: url(/assets/cta_cv.svg);
  background-repeat: no-repeat;
}


/* projects */

.btn {
  padding: 9px 53px;
  border-radius: 5px;
  border: 1px solid #fff;
  z-index: 1;
  color: var(--white);
  text-decoration: none;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-purple-border {
  background-color: var(--white);
  padding: 13px 38px;
  border-radius: 5px;
  border: 1px solid #a15aff;
  color: #a15aff;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 700;
}
.btn-purple-border:hover {
  transition: all ease-in-out 300ms;
  background-color: #a15aff;
  color: var(--white);
}
.btn-purple-border.active {
  background: var(--purple);
  color: var(--white);
}
.btn:hover {
  background-color: #fff;
  color: #3a1a64;
  transition: all ease-in-out 300ms;
}

.btn-purple-border.active,
.btn-purple,
.btn {
  transition: all ease-in-out 300ms;
}
.btn-purple-border.active:hover,
.btn-purple:hover {
  background: #1b023c;
  border-color: #1b023c;
  transition: all ease-in-out 300ms;
}
.img-fluid {
  max-width: 100%;
}
.counter {
  display: flex;
  justify-content: center;
  color: #1b023c;
  text-align: center;
  font-family: "Sansation";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
/*
contact
*/

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.links ul li {
  background-repeat: no-repeat;
  background-size: contain;
  transition: background ease-in-out 500ms;
  background-color: white;
}
ul.social li a {
  display: block;
  width: 43px;
  height: 43px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: background ease-in-out 500ms;
}
.links ul li a:hover {
  transition: background ease-in-out 500ms;
}
.linkedin,
.social .linkedin:hover {
  background-image: url(/assets/linkedIn.svg);
}
.email,
.social .email:hover {
  background-image: url(/assets/email.svg);
}
.phone,
.social .phone:hover {
  background-image: url(/assets/phone.svg);
}
.github,
.social .github:hover {
  background-image: url(/assets/github.svg);
}
.linkedin:hover {
  background-image: url(/assets/icons/linkedin_hover_nav.svg);
}
.email:hover {
  background-image: url(/assets/icons/email_hover_nav.svg);
}
.phone:hover {
  background-image: url(/assets/icons/phone_hover_nav.svg);
}
.github:hover {
  background-image: url(/assets/icons/github_hover_nav.svg);
}
.social .linkedin {
  background-image: url(/assets/icons/linkedin_footer.svg);
}
.social .email {
  background-image: url(/assets/icons/email_footer.svg);
}
.social .phone {
  background-image: url(/assets/icons/phone_footer.svg);
}
.social .github {
  background-image: url(/assets/icons/github_footer.svg);
}
/* Footer */
.footer {
  color: #fff;
  padding: 50px 0;
  background: #1b023c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
}
.footer ul.social {
  display: inline-flex;
  list-style: none;
  padding: 0;
  gap: 1rem;
}
.btn-white {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 5px;
  background: #fff;
  color: #5600c6;
  text-align: center;
  font-family: "Inter";
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
}
.footer .btn-white {
  width: fit-content;
}

/* .footer .contact-footer p {
  color: #fff;
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer h5 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
} */
/* .footer p {
  color: #fff;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
} */
.location {
  display: inline-block;
  position: relative;
  content: "";
  background-image: url(/assets/icons/location.svg);
  width: 10px;
  height: 14px;
  margin-right: 0.5rem;
}
.display-desktop {
  display: none;
}
.display-mobile {
  display: block;
}

/*Responsive  */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* .container {
    max-width: 540px;
} */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* .container {
    max-width: 960px;
} */
  .top-mobile {
    display: none;
  }
  /*
  .links {
    display: flex;
    flex-direction: column;
    border-radius: 0px 20px 50px 0px;
    background: #a15aff;
    position: fixed;
    top: 20%;
    padding: 33px 19px;
  }
  .links ul {
    display: grid;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }*/
  .display {
    display: none;
  }
  #hero .container {
    text-align: center;
  }
  #hero {
    background: rgb(33, 7, 68);
    background: -moz-linear-gradient(
      180deg,
      rgba(33, 7, 68, 1) 0%,
      rgba(63, 30, 105, 1) 50%,
      rgba(83, 45, 131, 1) 100%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(33, 7, 68, 1) 0%,
      rgba(63, 30, 105, 1) 50%,
      rgba(83, 45, 131, 1) 100%
    );
    background: linear-gradient(
      180deg,
      rgba(33, 7, 68, 1) 0%,
      rgba(63, 30, 105, 1) 50%,
      rgba(83, 45, 131, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#210744",endColorstr="#532d83",GradientType=1);
  }
  #hero span {
    display: inline;
  }
  /* #about {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%,1fr));
  } */

  #projects .recent-project {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    gap: 30px;
  }
  #about .about-desc,
  #about .image-container,
  #projects .container .recent-project-desc,
  #projects .container .project {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
  }
  /* #projects .container .projects-filter{
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  } */
  .counter {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #hero {
    height: 850px;
  }
  #hero::before {
    height: 500px;
    background-image: url(/assets/pattern.svg);
  }
  #hero::after {
    background-image: url(/assets/purple-transparent.svg);
    height: 320px;
    bottom: 0;
    background-size: contain;
  }
  #about::before {
    background-image: url(/assets/purple-curve.svg);
    height: 260px;
    top: -30%;
    background-size: contain;
  }
  #about::after {
    background-image: url(/assets/white-curve.svg);
    height: 200px;
    top: -20%;
    background-size: contain;
  }
  #hero .container {
    width: 40%;
    z-index: 1;
  }
  #about #about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
  #about #about-me {
    margin-top: 7rem;
  }
  #about .container .image-container img {
    width: 394px;
    height: 382px;
  }
  #about .container .image-container {
    margin-top: 0;
  }
  #about .about-desc {
    order: 1;
  }
  #about .image-container {
    order: 0;
  }
  .button-container::before {
    right: unset;
    right: 46%;
  }
  #about .container h4,
  #projects .container h4,
  #contact h5,
  #contact p.title {
    font-size: 32px;
  }
  p,
  #about .container p {
    font-size: 16px;
  }
  #projects {
    position: relative;
    padding: 150px 0 215px;
    z-index: 1;
  }
  #projects .recent-project {
    grid-template-columns: 40% 60%;
    gap: 5rem;
  }
  #projects .recent-project-desc {
    order: 1;
    width: 80% !important;
  }
  #projects .container .project {
    order: 0;
    height: 353px;
  }
  /* #contact .container {
    display: flex;
    justify-content: start;
  }
  #contact .container .contact {
    width: 60%;
    display: inline-block;
  } */
  .btn-purple-border.active {
    display: block;
  }
  #contact {
    position: relative;
    background: #f6f6f6;
    padding: 87px 0 105px;
  }
  #projects::after {
    bottom: 0;
    position: absolute;
    background-color: #f6f6f6;
    content: "";
    width: 100%;
    height: 170px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/white-invert.svg);
  }
  #contact::before,
  #contact::after {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
    bottom: 0;
    right: 0;
  }
  #contact::before {
    background-image: url(/assets/rect.svg);
    width: 30%;
    height: 600px;
  }
  #contact::after {
    background-image: url(/assets/rect_purple.svg);
    width: 30%;
    height: 500px;
  }

  .footer ul.quick-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .footer .quick-links-cont {
    display: flex;
    justify-content: center;
  }
  .footer ul.quick-links li {
    padding: 7px 0;
  }
  .footer ul.quick-links a {
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: capitalize;
  }
  .display-desktop {
    display: block;
  }
  .display-mobile {
    display: none;
  }
  /* .contact-footer{
    flex-direction: column;
  } */
  /* .container{ 
    width: 80%;
  } */
  #projects .container {
    position: relative;
    z-index: 1;
  }
  #contact-form button {
    width: min-content;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width:1600px) {
  #about::after {
    top: -19%;
  }
  #hero::after {
    height: 270px;
  }
  #about::before {
    height: 210px;
    top: -25%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
  #about::after {
    top: -20%;
  }
}
